:root {
    --color-black:  #2F303A;
    --color-white-grey:  #F5F4FA;
    --color-white: #FFFFFF;
    --color-light-blue:  #2196F3;
    --color-grey: #757575;
}

nav {
    width: 1600px;
    height: 80px;
}

nav ul {
    display: flex;
}

#section1 {
    background-color: #2F303A;
    top: 80px;

}

.tableHead {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

#section4 {
    background-color: #F5F4FA;
}

button {
    color: #FFFFFF;
    width: 216px;
    height: 50px;
    top: 430px;
    left: 692px;
    border-radius: 4px;
    background-color: #2196F3;
    border-color: #2196F3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: white;
}

.zagolovki {
    font-size: 16px;
}

td {
    color: #757575;
    ;
    font-size: 14px;
    text-align: center;
}

.rightTable {
    text-align: right;
}

h4 {
    font-size: 15px;
}

.h4Descrip {
    color: grey;
}

.footImg {
    text-align: 15px;
}

.footInfo {
    padding-right: 60px;
}

figure {
    background-color: white;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    background-color: #2F303A;
}

ul {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}